@model IntegrationProject.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label">Starting Location:</label>
                <select asp-for="Origin" asp-items="ViewBag.Businesses" class="form-control"></select>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waypoints" class="control-label">How many extra stops would you like?</label>
                <select id="Stops" name="Stops" asp-items="ViewBag.Stops" class="form-control"></select>
                <span asp-validation-for="Waypoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfGuests" class="control-label">How many Guests would you like to invite?</label>
                <select asp-for="NumberOfGuests" asp-items="ViewBag.Guests" class="form-control"></select>
                <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("Member"))
    {
        <a asp-action="Events" asp-controller="Member" asp-route-id="@ViewData["ApplicationUserId"]">Back to List</a>
    }
    else if (User.IsInRole("Admin"))
    {
        <a asp-action="Events" asp-controller="Admins" asp-route-id="@ViewData["ApplicationUserId"]">Back to List</a>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
